$breakpoints: (
  xs: 16rem,   // 256px
  sm: 25.875rem,  // 414px
  md: 48rem, 	// 768px
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
