/// Makes an element's :before pseudoelement a FontAwesome icon.
/// @param {string} $content Optional content value to use.
/// @param {string} $where Optional pseudoelement to target (before or after).
@mixin icon($content: false, $where: before) {

	text-decoration: none;

	&:#{$where} {

		@if $content {
			content: $content;
		}

		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none;

	}
}

@mixin headerText() {
  font-size: _fontSize(header-text);
  font-weight: _font(weight-heading);
  letter-spacing: .125em;
}

@mixin footerText() {
  font-size: _fontSize(footer-text);
  font-weight: _font(weight);
  letter-spacing: _font(kerning-heading);
}

@mixin bodyText($contentSize: default) {
  font-weight: 300;
  letter-spacing: 0.125rem;
  line-height: 1.5rem;

  @if $contentSize == "small" {
  	font-size: 0.925rem;
  }
  
  @if $contentSize == "default" {
  	font-size: 1.0rem;
  }

  @if $contentSize == "large" {
  	font-size: 1.25rem;
  }
}


