// Misc.
$misc: (
	z-index-base:	10000
);

// Duration.
$duration: (
	menu:				0.5s,
	transition:	0.2s
);

// Size.
$size: (
	site-min-width:					20rem,
	element-height:					2.75em,
	element-margin:					2em,
	section-spacing:				3em,
	section-spacing-small:	.5em,
	menu:										25em
);

// Font.
$font: (
	family:										('Source Sans Pro', Helvetica, sans-serif),
	// family-fixed:							('Courier New', monospace),
	// family-heading:						('Raleway', Helvetica, sans-serif),
	site-base: 								16px,
	weight:										400,
	weight-heading:						700,
	weight-bold:							700,
	line-height:							1.75
);

$font-size: (
	site-default: 1.25rem,
	header-text: 	1.5rem,
	body-text: 		1.25rem,
	body-text-sm:	.8rem,
	button-text:	1.4rem
);

$color-map: (
	site-default: (
		color: 		#646464,
		bg-color: #f4f4f4		
	),
	button-default: (
		color: 		#333,
		bg-color: #999999
	),
	button-navigation: (
		color: 		#ffffff,
		bg-color: #e91e63
	),
	input-default: (
		color: #333,
		bg-color: #ffffff
	),
	link: (
		hover-color: #2ebaae
	)
);

// Palette.
$palette: (
  background: 		#f4f4f4,  
  site-default:		#646464, 
	bg-alt:					#f4f4f4, 
	fg:							#646464,
	fg-bold:				#3c3b3b,
	fg-light:				#aaaaaa,
	border:					rgba(160,160,160,0.3),
	border-bg:			rgba(160,160,160,0.075),
	border-alt:			rgba(160,160,160,0.65),
	accent:					#2ebaae
);
