.cardContainer {
	display: flex;
	flex-direction: column;
	// width: 620px;

	.cardListPanel {
		// border: 1px solid green;
		padding: 10px 0 10px 5px;

		display: flex;
		justify-content: space-between;
		// align-items: center;

	  flex-direction: column;
  	align-items: flex-start;

	  &__title {
	  	flex-basis: 100%;
	  }

	  &__images {
	  	flex-basis: 100%;
	  	display: flex;
	  	justify-content: flex-start;
	  }

		@include respondTo(medium) {
			flex-direction: row;
			align-items: center;

			&__title {
				flex-basis: 40%;
			}

			&__images {
				flex-basis: 60%;
				display: flex;
				justify-content: flex-end;
			}
		}

		@include respondTo(large) {
			flex-direction: row;
			align-items: center;

			&__title {
				flex-basis: 40%;
			}

			&__images {
				flex-basis: 60%;
				display: flex;
				justify-content: flex-end;
			}
		}

		@include respondTo(x-large) {
			flex-direction: row;
			align-items: center;

			&__title {
				flex-basis: 40%;
			}

			&__images {
				flex-basis: 60%;
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	.cardNumberPanel {
		// border: 1px solid orange;

		display: flex;
		// justify-content: space-between;
		align-items: center;

		&__cardNumber {
			// flex-basis: 85%;
			flex-basis: 40%;
			margin-right: 5px;

			.inputGroup {
				width: 100%;
			}
		}

		&__cardImage {
			flex-basis: 10%;

			.credit {
				display: none;
				&--default {
					display: block;
				}
			}
		}

		@include respondTo(small) {
			justify-content: flex-start;

			&__cardNumber {
				flex-basis: 50%;
			}
		}	

		@include respondTo(medium) {
			&__cardNumber {
				flex-basis: 75%;
			}

			&__cardImage {
				flex-basis: 5%;
			}
		}

		@include respondTo(large) {
			&__cardNumber {
				flex-basis: 90%;
			}

			&__cardImage {
				flex-basis: 10%;
			}
		}

		@include respondTo(x-large) {
			&__cardNumber {
				flex-basis: 40%;
			}

			&__cardImage {
				flex-basis: 10%;
			}
		}
	}

	.expDateAndCVCodePanel {
		// border: 1px solid crimson;
		display: flex;
		justify-content: space-between;

	  flex-direction: column;
  	align-items: flex-start;

	  &__expDate {
	  	flex-basis: 10%;
	  	width: 100%;
	  }

	  &__cvCode {
	  	flex-basis: 20%;
	  	width: 100%;
	  }

		@include respondTo(x-large) {
		  flex-direction: row;
			align-items: center;

			&__expDate{
				flex-basis: 20%;
				margin-right: 5px;
				
				// margin-right: 25px;
			}

			&__cvCode {
				flex-basis: 40%;
			}
		}
	
	}
}