// CVV Help 
.cvvInstructions {
	flex: 1 0 100%;
	background-color: transparent;
	background-image: url("../../../images/cards/visa-cvv.png");
	background-size: 100% 100%, contain;
	background-repeat: no-repeat;
	background-origin: padding-box;

	height: 200px;
	@include break(xs) {
		height: 240px;
	}
	@include break(sm) {
		height: 300px;
	}

	opacity: 0;
	transition: .5s all ease;
	display: none;
}

.js-show {
	display: block;
	opacity: 1;
	transition: .5s all ease;
}

// End: CVV Help