// CVV Help 
.cvvInstructions {
	flex: 1 0 100%;
	background-color: transparent;
	opacity: 0;
	transition: .5s all ease;
	display: none;

	.imageBox {
		// background-color: tomato;
		flex: 1 0 50%;
		&__item {
			max-width: 100%;
		}
	}
}

.js-show {
	display: flex;
	flex-wrap: nowrap;
	opacity: 1;
	transition: .5s all ease;
}

// End: CVV Help