@import "site-container";
@import "site-banner";
@import "navigation";
@import "navigation-site-nav";
@import "menu";
@import "main-content";
@import "site-cover";
@import "site-show";
@import "footer";
@import "search";
@import "panel-container";
@import "media";
@import "image";
@import "book-form";
@import "data-form";
@import "buttons";
@import "slide-show";
@import "flexbox-table";
@import "./shopping-cart/cart";
@import "./chosen/chosen";

.dropdownPanel {
	width: 620px;
	background-color: #fff;
	height: 70px;
	padding-top: 30px;	
	padding-left: 25px;	
}

.inputGroup--country {
	width: calc(620px*0.5-25px);
}

.inputGroup--state {
	width: calc(620px*0.3-25px);
	// background-color: green;
}

.inputGroup--zip {
	width: calc(620px*0.2);
	// background-color: yellow;
}




