.dataForm {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;

  &__section {
    margin-top: 15px;
    // margin-left: 35px;
    // border: 3px solid transparent;
  }

  &__buttonPanel {
    margin-top: 25px;
  }

  input {
    margin-bottom: 8px;
    // font-size: 14px;
    // padding: 5px;
    border: 0;
    width: 620px;
    padding: 25px 25px 10px;
    font-size: 18px;
    text-transform: uppercase;
    max-width: 100%;
    // border: 3px solid transparent;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
  }

  input:focus, input:active {
    outline: none;
  }

  .inputGroup {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }

  .inputGroup label {
    position: absolute;
    top: 50%;
    left: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    transform: translateY(-50%);
    font-style: italic;
    // font-size: 14px;
    font-size: 18px;
    color: #999;
    pointer-events: none;
    transition: all 0.15s ease-out 0s;

    &.dropdownlabel {
      top: 20px;
    }
  }

  .inputGroup input:focus + label,
  .inputGroup input.js-userData + label {
    top: 20px;
    // font-size: 12px;
    font-size: 16px;
    color: #aaa;
  }
}

