.tableRow {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;

  &__column_1 {
    flex-basis: 10%;
  } 

  &__column_2 {
    // background-color: red;
    flex-basis: 45%;
  }

  &__column--default {
    flex-basis: 15%;
  }

  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  border: 1px solid blue;

  &__text {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tableHeader {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tableRow {
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;

  &__text {
    padding-right: 20px;
    width: 180px;
  }

  &__num {
    width: 80px;
  }
}

